@charset "UTF-8";
/* ====================================================
Font
==================================================== */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* ====================================================
reset style
==================================================== */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10px;
  /* Base font size, change to 14px or 16px if needed */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

address, caption, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

del, ins {
  text-decoration: none;
}

main {
  display: block;
}

section {
  position: relative;
}

/* ====================================================
Media Quary
==================================================== */
/* ====================================================
// flexセット
==================================================== */
/* ====================================================
画像などを縦横比を維持したままレスポンシブ対応
*画像やGoogle Map、YouTubeの埋め込みなどを縦横比を維持したままレスポンシブ対応
.photo {
  // 画像を16:9にトリミングして縦横比を常に保つ
  @include aspect-ratio(16, 9);

  & > .image {
    @include object-fit(cover);
  }
}
==================================================== */
@media screen and (min-width: 835px) {
  .mbpc-1 {
    margin-bottom: 1px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-1 {
    margin-bottom: 1px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-2 {
    margin-bottom: 2px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-2 {
    margin-bottom: 2px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-3 {
    margin-bottom: 3px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-3 {
    margin-bottom: 3px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-4 {
    margin-bottom: 4px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-4 {
    margin-bottom: 4px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-5 {
    margin-bottom: 5px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-6 {
    margin-bottom: 6px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-6 {
    margin-bottom: 6px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-7 {
    margin-bottom: 7px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-7 {
    margin-bottom: 7px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-8 {
    margin-bottom: 8px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-8 {
    margin-bottom: 8px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-9 {
    margin-bottom: 9px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-9 {
    margin-bottom: 9px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-10 {
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-10 {
    margin-bottom: 10px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-11 {
    margin-bottom: 11px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-11 {
    margin-bottom: 11px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-12 {
    margin-bottom: 12px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-12 {
    margin-bottom: 12px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-13 {
    margin-bottom: 13px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-13 {
    margin-bottom: 13px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-14 {
    margin-bottom: 14px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-14 {
    margin-bottom: 14px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-15 {
    margin-bottom: 15px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-15 {
    margin-bottom: 15px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-16 {
    margin-bottom: 16px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-16 {
    margin-bottom: 16px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-17 {
    margin-bottom: 17px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-17 {
    margin-bottom: 17px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-18 {
    margin-bottom: 18px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-18 {
    margin-bottom: 18px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-19 {
    margin-bottom: 19px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-19 {
    margin-bottom: 19px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-20 {
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-20 {
    margin-bottom: 20px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-21 {
    margin-bottom: 21px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-21 {
    margin-bottom: 21px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-22 {
    margin-bottom: 22px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-22 {
    margin-bottom: 22px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-23 {
    margin-bottom: 23px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-23 {
    margin-bottom: 23px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-24 {
    margin-bottom: 24px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-25 {
    margin-bottom: 25px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-25 {
    margin-bottom: 25px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-26 {
    margin-bottom: 26px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-26 {
    margin-bottom: 26px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-27 {
    margin-bottom: 27px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-27 {
    margin-bottom: 27px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-28 {
    margin-bottom: 28px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-28 {
    margin-bottom: 28px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-29 {
    margin-bottom: 29px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-29 {
    margin-bottom: 29px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-30 {
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-30 {
    margin-bottom: 30px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-31 {
    margin-bottom: 31px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-31 {
    margin-bottom: 31px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-32 {
    margin-bottom: 32px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-32 {
    margin-bottom: 32px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-33 {
    margin-bottom: 33px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-33 {
    margin-bottom: 33px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-34 {
    margin-bottom: 34px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-34 {
    margin-bottom: 34px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-35 {
    margin-bottom: 35px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-35 {
    margin-bottom: 35px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-36 {
    margin-bottom: 36px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-36 {
    margin-bottom: 36px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-37 {
    margin-bottom: 37px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-37 {
    margin-bottom: 37px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-38 {
    margin-bottom: 38px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-38 {
    margin-bottom: 38px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-39 {
    margin-bottom: 39px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-39 {
    margin-bottom: 39px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-40 {
    margin-bottom: 40px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-40 {
    margin-bottom: 40px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-41 {
    margin-bottom: 41px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-41 {
    margin-bottom: 41px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-42 {
    margin-bottom: 42px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-42 {
    margin-bottom: 42px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-43 {
    margin-bottom: 43px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-43 {
    margin-bottom: 43px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-44 {
    margin-bottom: 44px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-44 {
    margin-bottom: 44px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-45 {
    margin-bottom: 45px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-45 {
    margin-bottom: 45px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-46 {
    margin-bottom: 46px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-46 {
    margin-bottom: 46px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-47 {
    margin-bottom: 47px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-47 {
    margin-bottom: 47px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-48 {
    margin-bottom: 48px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-48 {
    margin-bottom: 48px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-49 {
    margin-bottom: 49px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-49 {
    margin-bottom: 49px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-50 {
    margin-bottom: 50px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-51 {
    margin-bottom: 51px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-51 {
    margin-bottom: 51px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-52 {
    margin-bottom: 52px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-52 {
    margin-bottom: 52px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-53 {
    margin-bottom: 53px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-53 {
    margin-bottom: 53px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-54 {
    margin-bottom: 54px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-54 {
    margin-bottom: 54px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-55 {
    margin-bottom: 55px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-55 {
    margin-bottom: 55px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-56 {
    margin-bottom: 56px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-56 {
    margin-bottom: 56px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-57 {
    margin-bottom: 57px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-57 {
    margin-bottom: 57px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-58 {
    margin-bottom: 58px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-58 {
    margin-bottom: 58px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-59 {
    margin-bottom: 59px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-59 {
    margin-bottom: 59px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-60 {
    margin-bottom: 60px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-60 {
    margin-bottom: 60px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-61 {
    margin-bottom: 61px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-61 {
    margin-bottom: 61px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-62 {
    margin-bottom: 62px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-62 {
    margin-bottom: 62px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-63 {
    margin-bottom: 63px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-63 {
    margin-bottom: 63px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-64 {
    margin-bottom: 64px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-64 {
    margin-bottom: 64px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-65 {
    margin-bottom: 65px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-65 {
    margin-bottom: 65px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-66 {
    margin-bottom: 66px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-66 {
    margin-bottom: 66px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-67 {
    margin-bottom: 67px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-67 {
    margin-bottom: 67px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-68 {
    margin-bottom: 68px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-68 {
    margin-bottom: 68px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-69 {
    margin-bottom: 69px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-69 {
    margin-bottom: 69px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-70 {
    margin-bottom: 70px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-70 {
    margin-bottom: 70px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-71 {
    margin-bottom: 71px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-71 {
    margin-bottom: 71px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-72 {
    margin-bottom: 72px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-72 {
    margin-bottom: 72px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-73 {
    margin-bottom: 73px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-73 {
    margin-bottom: 73px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-74 {
    margin-bottom: 74px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-74 {
    margin-bottom: 74px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-75 {
    margin-bottom: 75px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-75 {
    margin-bottom: 75px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-76 {
    margin-bottom: 76px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-76 {
    margin-bottom: 76px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-77 {
    margin-bottom: 77px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-77 {
    margin-bottom: 77px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-78 {
    margin-bottom: 78px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-78 {
    margin-bottom: 78px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-79 {
    margin-bottom: 79px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-79 {
    margin-bottom: 79px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-80 {
    margin-bottom: 80px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-81 {
    margin-bottom: 81px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-81 {
    margin-bottom: 81px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-82 {
    margin-bottom: 82px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-82 {
    margin-bottom: 82px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-83 {
    margin-bottom: 83px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-83 {
    margin-bottom: 83px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-84 {
    margin-bottom: 84px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-84 {
    margin-bottom: 84px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-85 {
    margin-bottom: 85px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-85 {
    margin-bottom: 85px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-86 {
    margin-bottom: 86px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-86 {
    margin-bottom: 86px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-87 {
    margin-bottom: 87px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-87 {
    margin-bottom: 87px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-88 {
    margin-bottom: 88px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-88 {
    margin-bottom: 88px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-89 {
    margin-bottom: 89px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-89 {
    margin-bottom: 89px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-90 {
    margin-bottom: 90px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-90 {
    margin-bottom: 90px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-91 {
    margin-bottom: 91px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-91 {
    margin-bottom: 91px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-92 {
    margin-bottom: 92px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-92 {
    margin-bottom: 92px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-93 {
    margin-bottom: 93px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-93 {
    margin-bottom: 93px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-94 {
    margin-bottom: 94px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-94 {
    margin-bottom: 94px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-95 {
    margin-bottom: 95px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-95 {
    margin-bottom: 95px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-96 {
    margin-bottom: 96px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-96 {
    margin-bottom: 96px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-97 {
    margin-bottom: 97px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-97 {
    margin-bottom: 97px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-98 {
    margin-bottom: 98px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-98 {
    margin-bottom: 98px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-99 {
    margin-bottom: 99px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-99 {
    margin-bottom: 99px !important;
  }
}
@media screen and (min-width: 835px) {
  .mbpc-100 {
    margin-bottom: 100px !important;
  }
}
@media screen and (max-width: 834px) {
  .mbsp-100 {
    margin-bottom: 100px !important;
  }
}
.mb0 {
  margin-bottom: 0 !important;
}

body {
  color: black;
  font-family: "Noto Sans", serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.7;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  a {
    display: inline-block;
  }
}
@media screen and (min-width: 835px) {
  a[href^=tel] {
    pointer-events: none;
  }
}
@media screen and (max-width: 834px) {
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

.clearfix {
  *zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 834px) {
  .pc {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .pc-tb {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  .pc-lg {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .pc-sm {
    display: none !important;
  }
}
@media screen and (max-width: 374px) {
  .pc-xs {
    display: none !important;
  }
}

@media screen and (min-width: 835px) {
  .sp {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .sp-tb {
    display: none !important;
  }
}
@media screen and (min-width: 991px) {
  .sp-lg {
    display: none !important;
  }
}
@media screen and (min-width: 641px) {
  .sp-sm {
    display: none !important;
  }
}

.u-fn-hover {
  display: inline-block;
}
@media screen and (min-width: 835px) {
  .u-fn-hover {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .u-fn-hover:hover {
    opacity: 0.7;
  }
}

.u-pull--left {
  margin-left: calc((100vw - 100%) / 2 * -1);
}
.u-pull--right {
  margin-right: calc((100vw - 100%) / 2 * -1);
}

.c-fc--white {
  color: white !important;
}
.c-fc--black {
  color: black !important;
}

.c-bg--01 {
  background: -o-linear-gradient(315deg, #ff7a88, #CD353B);
  background: linear-gradient(135deg, #ff7a88, #CD353B);
}
.c-bg--02 {
  background: -o-linear-gradient(315deg, #feb984, #ff5542 102%);
  background: linear-gradient(135deg, #feb984, #ff5542 102%);
}
.c-bg--03 {
  background: -o-linear-gradient(315deg, #d597d6, #974ef6 102%);
  background: linear-gradient(135deg, #d597d6, #974ef6 102%);
}
.c-bg--04 {
  background: -o-linear-gradient(315deg, #ffd529, #fd8440 102%);
  background: linear-gradient(135deg, #ffd529, #fd8440 102%);
}
.c-bg--05 {
  background: -o-linear-gradient(315deg, #49e9bb, #2EC16C);
  background: linear-gradient(135deg, #49e9bb, #2EC16C);
}
.c-bg--gray {
  background-color: #eef5ff !important;
}

.c-al--c {
  text-align: center !important;
}
.c-al--r {
  text-align: right !important;
}
.c-al--l {
  text-align: left !important;
}

.c-pull--left {
  margin-left: calc((100vw - 100%) / 2 * -1);
}
.c-pull--right {
  margin-right: calc((100vw - 100%) / 2 * -1);
}

/* ====================================================
Component
==================================================== */
.c-ttl__01 {
  display: block;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 40px;
}
@media screen and (max-width: 834px) {
  .c-ttl__01 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
.c-ttl__01 a {
  display: block;
  color: black;
}
.c-ttl__01 i {
  display: inline-block;
  margin: 0 10px 0 0;
}
.c-ttl__02 {
  display: block;
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 25px;
}
@media screen and (max-width: 834px) {
  .c-ttl__02 {
    margin-bottom: 15px;
  }
}
.c-ttl__02 a {
  color: black;
}
.c-ttl__02 i {
  display: inline-block;
  margin: 0 7px 0 0;
}

.c-btn__01 {
  width: 100%;
  max-width: 154px;
  cursor: pointer;
  display: block;
  line-height: normal;
  padding: 10px;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#00adf5), to(#0565af));
  background: -o-linear-gradient(left, #00adf5, #0565af);
  background: linear-gradient(to right, #00adf5, #0565af);
  border: 0;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  margin: 10px auto;
  -webkit-box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.5);
          box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.5);
}
.c-btn__01 i {
  display: inline-block;
  margin: 0 0 0 7px;
}
.c-btn__viewmore {
  width: 100%;
  max-width: 85px;
  display: block;
  padding: 2px 10px 3px;
  text-align: center;
  color: #e80f8a;
  background-color: #fff;
  border: 1px solid #e80f8a;
  font-size: 12px;
  border-radius: 10px;
  margin: auto;
}
.c-btn__viewmore i {
  display: inline-block;
  margin: 0 0 0 3px;
}

.js-scrollin {
  opacity: 0;
  -webkit-transform: translate(0, 70px);
  -ms-transform: translate(0, 70px);
  transform: translate(0, 70px);
}
.js-scrollin.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

main {
  padding: 82px 0 0;
}
@media screen and (max-width: 1024px) {
  main {
    padding: 75px 0 0;
  }
}

.inner {
  display: block;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 99;
  padding: 15px 0;
}
#header .inner {
  position: relative;
  max-width: 1110px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  #header .inner {
    display: block;
    position: static;
  }
}
#header .header-logo {
  display: block;
  width: 77px;
}
@media screen and (max-width: 1024px) {
  #header .header-logo {
    margin: 0 auto;
  }
}
#header .header-nav {
  width: calc(100% - 77px);
  padding: 0 0 0 20px;
}
@media screen and (max-width: 1024px) {
  #header .header-nav {
    position: absolute;
    top: 0;
    left: -300px;
    height: 100vh;
    padding: 40px 0;
    overflow-y: scroll;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 99;
  }
  #header .header-nav.active {
    left: 0;
  }
  #header .header-nav .search-sp {
    padding: 20px;
  }
}
#header .header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu {
    display: block;
  }
}
#header .header-nav__menu-item {
  margin: 0 10px;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-item {
    margin: 0;
    display: block;
    border-top: 1px solid #ececec;
    padding: 0 20px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #header .header-nav__menu-item.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  #header .header-nav__menu-item.active > a {
    color: red;
  }
  #header .header-nav__menu-item.active:before {
    width: 100%;
    left: 0;
  }
}
#header .header-nav__menu-item > a {
  display: block;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #1862ae;
  padding: 15px 0;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-item > a {
    font-size: 1.3rem;
    position: relative;
  }
}
#header .header-nav__menu-item:before {
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  width: 0;
  left: 50%;
  top: 0;
  height: 3px;
  background: red;
}
@media screen and (min-width: 1025px) {
  #header .header-nav__menu-item:hover .header-nav__menu-submenu {
    display: block;
  }
  #header .header-nav__menu-item:hover > a {
    color: red;
  }
  #header .header-nav__menu-item:hover:before, #header .header-nav__menu-item.active:before {
    width: 100%;
    left: 0;
  }
  #header .header-nav__menu-item:hover .header-nav__menu-sub:after, #header .header-nav__menu-item.active .header-nav__menu-sub:after {
    border: solid red;
    border-width: 0 1px 1px 0;
  }
}
#header .header-nav__menu-sub {
  display: block;
  width: 12px;
  position: relative;
  margin: 0 0 0 5px;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-sub {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .header-nav__menu-sub.active {
    padding-top: 4px;
  }
  #header .header-nav__menu-sub.active:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
}
#header .header-nav__menu-sub:after {
  content: "";
  border: solid #1862ae;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: -4px;
  left: 0;
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-sub:after {
    border: solid #1862ae;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    position: static;
  }
}
#header .header-nav__menu-submenu {
  display: none;
  background: #0063af;
  padding: 0 15px;
}
@media screen and (min-width: 1025px) {
  #header .header-nav__menu-submenu {
    min-width: 260px;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
@media screen and (max-width: 1024px) {
  #header .header-nav__menu-submenu {
    background: none;
    padding-bottom: 15px;
  }
}
#header .header-nav__menu-submenu li {
  border-bottom: 1px solid #ececec;
  border-color: rgba(255, 255, 255, 0.2);
}
#header .header-nav__menu-submenu li:last-child {
  border-bottom: none;
}
#header .header-nav__menu-submenu li a {
  display: block;
  color: white;
  line-height: 1.3;
  padding: 12px 0;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 834px) {
  #header .header-nav__menu-submenu li a {
    color: #666;
    font-size: 1.4rem;
    padding: 7px 0;
  }
}
#header .header-nav__menu-submenu li a:hover {
  color: white;
  opacity: 1;
}
#header .header-close {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -99;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 1024px) {
  #header .header-close.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}
#header .search-open {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.8rem;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#header .search-open:hover {
  background: #0565af;
  border: 1px solid #0565af;
  color: white;
}
#header .header-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  z-index: -99;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header .header-search.active {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
#header .header-search__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.58);
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header .header-search__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  opacity: 0.6;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 3;
}
#header .header-search__icon:hover {
  opacity: 1;
}
#header .header-search__box {
  width: 100%;
  max-width: 600px;
  position: relative;
  z-index: 4;
}
#header .header-search__box-input {
  background-color: rgba(255, 255, 255, 0.2);
  display: block;
  width: 100%;
  height: 67px;
  border-radius: 70px;
  padding: 0 20px 7px;
  font-size: 2.6rem;
  outline: none;
  border: 1px solid #1862ae;
  color: white;
}
@media screen and (max-width: 1024px) {
  #header .header-search__box-input {
    color: #1862ae;
    height: 40px;
    padding: 0 10px 0;
    font-size: 1.8rem;
  }
}
#header .header-search__box-input::-webkit-input-placeholder {
  color: white;
}
@media screen and (max-width: 1024px) {
  #header .header-search__box-input::-webkit-input-placeholder {
    color: #1862ae;
  }
}
#header .header-search__box-input:-moz-placeholder {
  color: white;
}
@media screen and (max-width: 1024px) {
  #header .header-search__box-input:-moz-placeholder {
    color: #1862ae;
  }
}
#header .header-search__box-input::-moz-placeholder {
  color: white;
}
@media screen and (max-width: 1024px) {
  #header .header-search__box-input::-moz-placeholder {
    color: #1862ae;
  }
}
#header .header-search__box-input:-ms-input-placeholder {
  color: white;
}
@media screen and (max-width: 1024px) {
  #header .header-search__box-input:-ms-input-placeholder {
    color: #1862ae;
  }
}
#header .header-search__box-sub {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 67px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: none;
  border: none;
  font-size: 3.4rem;
  color: white;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  #header .header-search__box-sub {
    width: 50px;
    height: 40px;
    color: black;
    font-size: 2rem;
  }
}
#header .header-search__box-sub:hover {
  opacity: 0.7;
}
#header .js-mobile {
  width: 22px;
  height: 25px;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 12;
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  #header .js-mobile {
    display: block;
  }
}
#header .js-mobile span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background: #1862ae;
  border-radius: 3px;
}
#header .js-mobile span:before, #header .js-mobile span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1862ae;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 3px;
}
#header .js-mobile span:before {
  -webkit-transform: translateY(-250%);
  -ms-transform: translateY(-250%);
      transform: translateY(-250%);
  top: -1px;
}
#header .js-mobile span:after {
  -webkit-transform: translateY(250%);
  -ms-transform: translateY(250%);
      transform: translateY(250%);
  bottom: -1px;
}
#header .js-mobile--close {
  left: calc(100% - 40px);
  top: 23px;
}
#header .js-mobile--close span {
  background-color: transparent;
}
#header .js-mobile--close span:before, #header .js-mobile--close span:after {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}
#header .js-mobile--close span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
  top: 2px;
}
#header .js-mobile--close span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
  bottom: -2px;
}

.js-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
.js-locked body {
  -webkit-overflow-scrolling: auto;
}

#footer {
  background: white;
  position: relative;
  z-index: 1;
  font-size: 1.3rem;
  padding: 50px 0 0;
}
#footer a {
  color: #135eeb;
}
#footer p {
  margin-bottom: 20px;
}
#footer p i {
  display: inline-block;
  margin: 0 7px 0 0;
}
#footer .footer-logo {
  display: block;
  max-width: 258px;
  margin-bottom: 20px;
}
#footer .footer-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px 50px;
}
#footer .footer-block__item {
  width: 25%;
  padding: 0 10px;
}
@media screen and (max-width: 834px) {
  #footer .footer-block__item {
    width: 50%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 640px) {
  #footer .footer-block__item {
    width: 100%;
    margin-bottom: 30px;
  }
  #footer .footer-block__item:last-child {
    margin-bottom: 0;
  }
}
#footer .footer-block__ttl {
  display: block;
  font-weight: bold;
  font-size: 2rem;
  color: #0565af;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 834px) {
  #footer .footer-block__ttl {
    margin-bottom: 15px;
  }
}
#footer .footer-block__menu li {
  margin-bottom: 10px;
}
#footer .footer-block__menu li:last-child {
  margin-bottom: 0;
}
#footer .footer-block__menu li a {
  display: block;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}
#footer .footer-block__menu li a i {
  display: inline-block;
  margin: 0 7px 0 0;
}
#footer .copyright {
  text-align: center;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}

.top-mv img {
  width: 100%;
}

.top-content {
  padding: 50px 0;
}
@media screen and (max-width: 834px) {
  .top-content {
    padding: 30px 0;
  }
}

.product-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1050px;
}
@media screen and (max-width: 834px) {
  .product-list {
    margin: 0 -7px;
  }
}
.product-list__item {
  width: 25%;
  padding: 0 10px;
}
@media screen and (max-width: 834px) {
  .product-list__item {
    padding: 0 7px;
    width: 50%;
    margin-bottom: 20px;
  }
}
.product-list__box {
  border-radius: 40px;
  background: white;
  padding: 10px;
  border: 1px solid #e5e5e5;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 17px 10px -10px rgba(0, 0, 0, 0.4);
}
.product-list__box--hot {
  width: 33px;
  position: absolute;
  right: -3px;
  top: -10px;
}
.product-list__ttl {
  display: block;
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0092dc;
  margin-bottom: 10px;
}
.product-list__ttl a {
  color: #0092dc;
}
.product-list__price {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
}
.product-list__feature li {
  padding: 15px 0;
  font-size: 1.6rem;
  border-bottom: 1px solid #e5e5e5;
  color: #444;
}
@media screen and (max-width: 834px) {
  .product-list__feature li {
    font-size: 1.3rem;
    line-height: 1.6;
  }
}
.product-list__feature li i {
  display: inline-block;
  margin: 0 7px;
}
.product-list__feature li strong {
  display: inline-block;
  margin: 0 5px;
}

.top-news {
  padding: 50px 0;
}
@media screen and (max-width: 834px) {
  .top-news {
    padding: 30px 0;
  }
}

.news-block {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.news-block__item {
  width: calc(50% - 15px);
}
@media screen and (max-width: 834px) {
  .news-block__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .news-block__item:last-child {
    margin-bottom: 0;
  }
}

.news-list__item {
  margin-bottom: 30px;
}
.news-list__box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: white;
  color: black;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.news-list__img {
  position: relative;
  width: 183px;
}
@media screen and (max-width: 640px) {
  .news-list__img {
    width: 100%;
  }
}
.news-list__img:before {
  content: "";
  display: block;
  padding: 56% 0 0;
}
.news-list__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover";
}
.news-list__ct {
  width: calc(100% - 183px);
  padding: 15px 20px;
  color: black;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (max-width: 640px) {
  .news-list__ct {
    width: 100%;
    font-size: 1.3rem;
  }
}
.news-list__ct-ttl {
  display: block;
  position: relative;
  padding: 0 0 10px;
  font-weight: bold;
}
.news-list__ct-ttl:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #0565af;
}

.top-service {
  padding: 50px 0;
}
@media screen and (max-width: 834px) {
  .top-service {
    padding: 30px 0;
  }
}

.service-list {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.service-list__item {
  padding: 0 15px;
  width: 33.333%;
  margin-bottom: 30px;
}
@media screen and (max-width: 990px) {
  .service-list__item {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .service-list__item {
    width: 100%;
  }
}
.service-list__item a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 5px 5px 5px 70px;
  border-radius: 15px;
  color: #135eeb;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  font-size: 2rem;
  min-height: 64px;
}
@media screen and (max-width: 834px) {
  .service-list__item a {
    font-size: 1.8rem;
    min-height: 60px;
  }
}
.service-list__box {
  display: block;
  font-weight: bold;
}
.service-list__icon {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 10px;
}
@media screen and (max-width: 834px) {
  .service-list__icon {
    left: 5px;
  }
}
.service-list__icon img {
  width: 24px;
}

.post-detail {
  background: #EEF5FF;
  padding: 50px 0;
}
@media screen and (max-width: 834px) {
  .post-detail {
    padding-top: 20px;
    background: #fff;
  }
}
.post-detail__wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.post-detail__main {
  width: 73%;
  padding: 20px 40px;
  background: #fff;
  border-radius: 10px;
}
@media screen and (max-width: 834px) {
  .post-detail__main {
    width: 100%;
    padding: 0;
    margin-bottom: 2em;
  }
}
.post-detail__main-ttl {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
@media screen and (max-width: 834px) {
  .post-detail__main-ttl {
    font-size: 2.2rem;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.post-detail__main-ttl:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 3px;
  background: #0565af;
  bottom: 0;
  left: 0;
}
.post-detail__main-content {
  font-size: 1.7rem;
}
@media screen and (max-width: 640px) {
  .post-detail__main-content {
    font-size: 1.6rem;
  }
}
.post-detail__main-content p {
  margin-bottom: 1.3em;
}
.post-detail__main-content a {
  color: #135eeb;
}
.post-detail__main-content figure {
  margin: 0 0 2em;
}
.post-detail__main-content figcaption {
  background: rgba(0, 0, 0, 0.05);
  font-size: 1.4rem;
  font-style: italic;
  padding: 0.4em;
  text-align: center;
}
.post-detail__main-content h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.25em;
}
@media screen and (max-width: 640px) {
  .post-detail__main-content h3 {
    font-size: 1.8rem;
    margin-bottom: 0.7em;
  }
}
.post-detail__main-content h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1em;
}
@media screen and (max-width: 640px) {
  .post-detail__main-content h2 {
    font-size: 2rem;
    margin-bottom: 0.7em;
  }
}
.post-detail__main-content table {
  border: 1px solid #333;
  margin-bottom: 1em;
  width: 100%;
}
.post-detail__main-content table tr td {
  padding: 0.5em;
  background: #fff;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 1.4rem;
}
@media screen and (max-width: 834px) {
  .post-detail__main-content table tr td {
    padding: 0.5em 0.3em;
  }
}
.post-detail__main-content table tr td p {
  margin: 0.5em 0;
}
.post-detail__main-content table tr td:first-child {
  text-align: center;
}
.post-detail__main-content blockquote {
  -webkit-box-shadow: 2px 2px 13px #eee;
          box-shadow: 2px 2px 13px #eee;
  border-left: 5px solid #0092dc;
  padding: 15px 10px;
  font-size: 1.7rem;
  text-align: center;
  margin: 0 0 1.25em;
  color: #333;
  font-style: italic;
}
.post-detail__main-content blockquote p {
  margin-bottom: 0;
}
.post-detail__main-content blockquote a {
  font-weight: 400;
}
.post-detail__main-content ul {
  padding-left: 1.2em;
  margin-bottom: 1em;
  text-align: left;
}
.post-detail__main-content ul li {
  list-style-type: disc;
  margin-bottom: 0.3em;
}
.post-detail__main-content ul li:last-of-type {
  margin-bottom: 0;
}
.post-detail__main-content ul ul {
  margin: 1.5em 0 1.5em 3em;
}
@media screen and (max-width: 834px) {
  .post-detail__main-content ul ul {
    margin-left: 1.5em;
  }
}
.post-detail__main-content ol {
  padding-left: 1.2em;
  margin-bottom: 1em;
}
.post-detail__main-content ol li {
  list-style-type: decimal;
  margin-bottom: 0.5em;
}
.post-detail__main-content ol li:last-of-type {
  margin-bottom: 0;
}
.post-detail__main-content .pricing_action {
  width: 70%;
  cursor: pointer;
  display: block;
  line-height: normal;
  padding: 10px;
  text-align: center;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#00adf5), to(#0565af));
  background: -o-linear-gradient(left, #00adf5, #0565af);
  background: linear-gradient(to right, #00adf5, #0565af);
  border: 0;
  font-size: 15px;
  border-radius: 20px;
  margin: 10px auto;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
@media screen and (max-width: 834px) {
  .post-detail__main-content .pricing_action {
    width: 100% !important;
    white-space: nowrap;
  }
}
.post-detail__main-content .pricing_action i {
  margin-left: 5px;
}
.post-detail__sidebar {
  width: 25%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 834px) {
  .post-detail__sidebar {
    width: 100%;
    padding: 0;
  }
}

.box-widget {
  margin-bottom: 5em;
}
.box-widget:last-of-type {
  margin-bottom: 0;
}
.box-widget__ttl {
  font-size: 2rem;
  color: #0565af;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
  display: block;
}
@media screen and (max-width: 834px) {
  .box-widget__ttl {
    margin-bottom: 1.5em;
  }
}
.box-widget__list-item {
  padding: 10px 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: start;
  -webkit-box-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.box-widget__list-img {
  width: 45px;
}
.box-widget__list-link {
  width: calc(100% - 45px);
  padding-left: 15px;
  font-size: 1.6rem;
  color: #135eeb;
  position: relative;
  top: -5px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box-widget__list-link:hover {
  color: #000;
}
/*# sourceMappingURL=map/styles.css.map */