<footer id="footer">
	<div class="inner">
		<div class="footer-block">
			<div class="footer-block__item">
				<h3 class="footer-block__ttl">Thông Tin Liên Hệ</h3>
				<a href="/" class="footer-logo">
					<img src="<%= RELATIVE_PATH %>img/common/logo-footer.png" alt="mobifone">
				</a>
				<p>
					<i class="fa fa-building" aria-hidden="true"></i> Đơn vị cung cấp: <strong>Mobifone</strong>
				</p>
				<p>
					<i class="fa fa-phone" aria-hidden="true"></i> Tổng đài Mobifone: &nbsp;<a href="tel:9090">9090</a>&nbsp; hoặc &nbsp; <a href="tel:18001090">18001090</a>
				</p>
				<p>
					<a href="">Chính sách bảo mật</a>
				</p>
			</div>
			<div class="footer-block__item">
				<h3 class="footer-block__ttl">Thông Tin 4G</h3>
				<ul class="footer-block__menu">
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Cách đăng ký 4G Mobifone</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Các gói cước 4G Mobifone</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Mua thêm dung lượng Mobi</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Cách kiểm tra dung lượng 4G Mobi</a></h4></li>
				</ul>
			</div>
			<div class="footer-block__item">
				<h3 class="footer-block__ttl">Thông Tin 4G</h3>
				<ul class="footer-block__menu">
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Cách đăng ký 3G Mobifone</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Cách đăng ký 3G Mobifone</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Gói cước giải trí tiện ích</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Cài đặt 3G Mobifone</a></h4></li>
				</ul>
			</div>
			<div class="footer-block__item">
				<h3 class="footer-block__ttl">Hỗ trợ Mobifone</h3>
				<ul class="footer-block__menu">
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Chuyển mạng giữ số Mobifone</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Kiểm tra cước trả sau Mobifone</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Các cửa hàng dịch vụ Mobifone</a></h4></li>
					<li><h4><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i>Tổng đài hỗ trợ Mobifone</a></h4></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			Copyright 2025 © by <strong>K-Media</strong>
		</div>
	</div>
</footer>