<header id="header">
	<div class="inner">
		<a href="/" class="header-logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="mobifone">
		</a>
		<nav class="header-nav">
			<span class="header-nav--close"></span>
			<div class="search-sp sp-tb">
				<div class="header-search__box">
					<input type="text" class="header-search__box-input" placeholder="Tìm kiếm ...">
					<button type="button" class="header-search__box-sub"><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</div>
			<ul class="header-nav__menu">
				<li class="header-nav__menu-item">
					<a href="">Đăng ký 4G</a>
					<span class="header-nav__menu-sub"></span>
					<ul class="header-nav__menu-submenu">
						<li><a href="">Các gói 4G Mobifone</a></li>
						<li><a href="">Các gói cước 4G theo ngày</a></li>
						<li><a href="">Cài đặt 4G Mobifone</a></li>
						<li><a href="">Gói cước FM Mobifone</a></li>
						<li><a href="">Gói cước E195 Mobifone</a></li>
						<li><a href="">Gói cước GG135 Mobifone</a></li>
						<li><a href="">Gói cước G155 Mobifone</a></li>
					</ul>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Đăng ký 3G</a>
					<span class="header-nav__menu-sub"></span>
					<ul class="header-nav__menu-submenu">
						<li><a href="">Các gói 3G Mobifone</a></li>
						<li><a href="">Các gói cước 3G theo ngày</a></li>
						<li><a href="">Cài đặt 3G Mobifone</a></li>
						<li><a href="">Gói cước NCT85 Mobifone</a></li>
						<li><a href="">Gói cước NCT100 Mobifone</a></li>
						<li><a href="">Gói cước NCT105 Mobifone</a></li>
						<li><a href="">Gói cước NCT135 Mobifone</a></li>
					</ul>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Gói 4G Tiện Ích</a>
					<span class="header-nav__menu-sub"></span>
					<ul class="header-nav__menu-submenu">
						<li><a href="">Gói cước Mạng Xã Hội</a></li>
						<li><a href="">Gói cước Tiktok Mobifone</a></li>
						<li><a href="">Gói cước Youtube Mobifone</a></li>
						<li><a href="">Gói cước Facebook Mobifone</a></li>
						<li><a href="">Gói cước ClipTV Mobifone</a></li>
						<li><a href="">Gói cước Galaxy Play Mobifone</a></li>
					</ul>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Khuyến Mãi</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Tin Tức</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Hỗ Trợ</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Giới thiệu</a>
				</li>
			</ul>
		</nav>
		<div class="search-open js-open-search pc-tb">
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>
	</div>
	<div class="header-search pc-tb">
		<span class="header-search__bg js-close"></span>
		<span class="header-search__icon js-close">
			<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
		</span>
		<div class="header-search__box">
			<input type="text" class="header-search__box-input" placeholder="Tìm kiếm ...">
			<button type="button" class="header-search__box-sub"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>
	</div>
	<span class="header-close"></span>
	<span class="js-mobile">
		<span></span>
	</span>
</header>